<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 비밀번호 변경</title>
    <div th:replace="layout/header"></div>
    <style>
        .card {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
        .message {
            font-size: 14px; /* 원하는 폰트 크기로 조절 */
            color: red;
        }
    </style>
</head>
<script>
    function checkPasswordMatch() {
        var password = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var message = document.getElementById("passwordMatchMessage");

        if (password === confirmPassword) {
            message.style.color = 'green';
            message.innerHTML = '비밀번호가 일치합니다.';
        } else {
            message.style.color = 'red';
            message.innerHTML = '비밀번호가 일치하지 않습니다.';
        }
    }
    function goback() {
        window.history.back()
    }
</script>
<body>
<div class="card">
    <h2>비밀번호 변경</h2>
    <p class="message" style="color: red;">안전한 비밀번호로 변경하세요.</p>
    <br/><br/><br/>
    <form action="/changePassword" method="post">

        <label for="newPassword">새로운 비밀번호:</label>
        <input type="password" id="newPassword" name="newPassword"><br><br>

        <label for="confirmPassword">비밀번호 확인:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" id="confirmPassword" name="confirmPassword"><br><br>

        <input type="submit" value="확인">
        <button onclick="goback()">취소</button>
    </form>
</div>
</body>
<div th:replace="layout/footer"></div>
</html>