<div th:replace="layout/header"></div>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: '내용을 작성하세요',
            height: 400,
            maxHeight: 400
        });
    });

    function cancelWrite() {
        // 현재 페이지에서 이전 페이지로 돌아가는 동작
        window.history.back();
    }

    function resetForm() {
        // 폼의 모든 입력 내용을 초기화
        document.querySelector("form").reset();


</script>
<div class="container text">

    <form action="" method="" style="width: 900px;" class="mx-auto">

        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" name="username" class="form-control" placeholder="제목을 입력해주세요." id="title">
        </div>

        <hr/>

        <!--summer note-->
        <div id="summernote" class="container"></div>
        <div class="button-group">
            <button type="button" class="btn btn-light" onclick="resetForm()">지우기</button>
            <input type="reset" class="btn btn-light" onclick="resetForm()" value="지우기"/> // js 안되서 test용
            <button type="button" class="btn btn-primary">작성</button>
            <button type="button" class="btn btn-light" onclick="cancelWrite()">목록</button>

        </div>

    </form>
</div>

<div th:replace="layout/footer"></div>