<div th:replace="layout/header"></div>

<title>모집글 상세보기 페이지</title>

<script>
    /* $("#btn-studyPostComment-save").on("click", function() {
         let data = {
             userId: $("#userId").val(),
             studyPostId: $("#studyPostId").val(),
             content: $("#studyPost-content").val()
         };

         console.log(data);

         $.ajax({
             type: "POST",
             url: `/api/studyPost/${data.studyPostId}/studyPostComment`,
             data: JSON.stringify(data),
             contentType: "application/json; charset=utf-8",
             dataType: "json"
         }).done(function(resp) {
             alert("글쓰기가 완료되었습니다. ");
             location.href = `/study/study-recruitment/${data.studyPostId}`;
         }).fail(function(error) {
             alert(JSON.stringify(error));
         });
     });*/

    function comment() {
        var userId = document.getElementById("userId").value;
        var studyPostId = document.getElementById("studyPostId").value;
        var content = document.getElementById("studyPost-content").value;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/studyPost/" + studyPostId + "/studyPostComment", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        xhr.onload = function () {
            if (xhr.status === 200) {
                alert("글쓰기가 완료되었습니다.");
                window.location.reload();
            } else {
                alert(JSON.stringify(xhr.responseText));
            }
        };

        var data = JSON.stringify({
            userId: userId,
            studyPostId: studyPostId,
            content: content
        });
        xhr.send(data);
    };

    function editPost() {
        // 수정 버튼을 "수정완료"로 변경
        let editButton = document.getElementById("editButton");
        editButton.style.display = "none"; // "수정" 버튼을 숨깁니다.

        let submitButton = document.getElementById("submitButton");
        submitButton.style.display = "block"; // "수정완료" 버튼을 보이게 합니다.

        // 제목과 내용을 수정 가능하게
        document.getElementById("title").removeAttribute("readonly");
        document.getElementById("topic").removeAttribute("readonly");
        document.getElementById("skills").removeAttribute("readonly");
        document.getElementById("max_num").removeAttribute("readonly");
        document.getElementById("start_date").removeAttribute("readonly");
        document.getElementById("end_date").removeAttribute("readonly");
        document.getElementById("content").removeAttribute("readonly");
    }


    function goBack() {
        window.history.back();
    }

    function submitEdit() {

        let recruitmentId = document.getElementById("recruitmentId").value;
        console.log(recruitmentId);
        // 수정된 내용 가져오기
        let title = document.getElementById("title").value;
        let topic = document.getElementById("topic").value;
        let content = document.getElementById("content").value;
        let skills = document.getElementById("skills").value;
        let start_date = document.getElementById("start_date").value;
        let end_date = document.getElementById("end_date").value;
        let max_num = document.getElementById("max_num").value;


        // AJAX를 사용하여 서버에 수정된 내용 전송
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/post/edit/" + recruitmentId, true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        xhr.onload = function () {
            if (xhr.status === 200) {
                // 수정이 성공한 경우 처리
                alert("수정이 완료되었습니다.");
                window.location.reload(); // 페이지 리로드
            } else {
                // 수정이 실패한 경우 처리
                alert("수정 중 오류가 발생했습니다. 다시 시도해주세요.");
            }
        };

        var data = JSON.stringify({
            recruitmentId: recruitmentId,
            title: title,
            content: content,
            topic:topic,
            skills:skills,
            start_date:start_date,
            end_date:end_date,
            max_num:max_num
        });

        xhr.send(data);
    }

</script>

<style>
    /* Container 스타일 */
    #detailContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* 화면 높이 전체를 사용 */
        padding: 20px;
        box-sizing: border-box;
    }

    /* 각 항목들의 스타일 */
    #detailContent > div {
        margin: 10px 0;
        width: 60%;
        /* 원하는 너비로 조절 가능 */
        text-align: center;
    }

    /* 버튼들의 스타일 */
    .button-group {
        margin-top: 20px;
    }

    .button-group .btn {
        margin: 5px;
    }
</style>
<div class="container text">
<!--    <form th:action="@{/study/update-post}" th:object="${post}" method="post">-->
    <form th:object="${post}" method="post">


        <!--  add user_id -->
        <input type="hidden" id="user_id" th:value="${user_id}"/>
        <input type="hidden" id ="recruitmentId" name="recruitmentId" th:value="${recruitmentId}"/>

        <div id="detailContent" class="container">
            <div>
                <label for="title">제목 </label>
                <input type="text" name="title" th:value="${post.title}" id="title" readonly/>
            </div>
            <div>
                <label for="topic">주제 </label>
                <input type="text" name="topic" th:value="${post.topic}" id="topic" readonly/>
            </div>
            <div>
                <label for="skills">기술 스택</label>
                <input type="text" name="skills" th:value="${post.skills}" id="skills" readonly/>
            </div>

            <div class="form-group">
                <label for="start_date">시작일</label>
                <input type="text" name="start_date" th:value="${post.start_date}" id="start_date"
                       class="form-control" readonly/>
            </div>
            <div>
                <label for="end_date">종료일</label>
                <input type="text" name="end_date" th:value="${post.end_date}" id="end_date" class="form-control"
                       readonly/>
            </div>

            <div>
                <label for="max_num">모집 인원</label>
                <input type="text" name="max_num" th:value="${post.max_num}" id="max_num" readonly/>
            </div>
            <div>
                <label for="content">모집 내용 </label>
                <input type="text" name="content" th:value="${post.content}" id="content" readonly/>
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-light" onclick="goBack()">목록</button>
                <button type="button" class="btn btn-light" onclick="goBack()">뒤로 가기</button>
                <button type="button" id="editButton" class="btn btn-light" onclick="editPost()">수정</button>
                <button type="button" id="submitButton" class="btn btn-light" style="display:none;"
                        onclick="submitEdit()">수정완료</button>
                <!--            <a th:href="@{'/study/update-post/' + ${recruitmentId}}" class="btn btn-warning">수정</a>-->

            </div>
        </div>


<!--add comment -->

<div class="card">
    <form>
        <input type="hidden" id="userId" th:value="${userId}"/>
        <input type="hidden" id="studyPostId" th:value="${studyPostId}"/>
        <div>
            <div class="card-body">
                <div class="card-footer">
                    <label><textarea id="studyPost-content" class="form-control" rows="1"></textarea></label>
                    <a th:href="@{'/api/studyPost/' + ${studyPostId} + '/studyPostcomment'}"
                       class="btn btn-warning">등록</a>
                    <button type="button" id="btn-studyPostComment-save" class="btn btn-primary"
                            onclick="comment()">등록
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="card">
    <div class="card-header">댓글</div>
    <ul id="comment-box" class="list-group">
        <li th:each="comment : ${post.studyPostComments}"
            class="list-group-item d-flex justify-content-between">
            <div><span th:text="${comment.content}"></span></div>
            <div class="d-flex">
                <div class="font-italic" th:text="${comment.user.username}">작성자</div>
                <button class="badge">삭제</button>
            </div>
        </li>
    </ul>
</div>
</form>
</div>
<div th:replace="layout/footer"></div>