<div th:replace="layout/header"></div>

<title>모집글 상세보기 페이지</title>

<script>

    function goBack() {
        window.history.back();
    }

    // // 바로 AJAX 요청 시작
    // var recruitmentId = $("#someElement").data("recruitmentId");
    //
    // $.ajax({
    //     url: "/api/study/study-recruitment/" + recruitmentId, // API End Point
    //     method: "GET",
    //     dataType: "json",
    //     success: function (data) {
    //         // API로 부터 받은 데이터를 화면에 표시
    //         $('#title').text(data.title);
    //         $('#topic').text(data.topic);
    //         $('#skills').text(data.skills);
    //         $('#start_date').text(data.start_date);
    //         $('#end_date').text(data.end_date);
    //         $('#max_num').text(data.max_num);
    //         $('#content').text(data.content);
    //     },
    //     error: function () {
    //         $('#detailContent').text("값을 불러오지 못했습니다. 미안~");
    //     }
    // });


</script>

<style>
    /* Container 스타일 */
    #detailContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* 화면 높이 전체를 사용 */
        padding: 20px;
        box-sizing: border-box;
    }

    /* 각 항목들의 스타일 */
    #detailContent > div {
        margin: 10px 0;
        width: 60%; /* 원하는 너비로 조절 가능 */
        text-align: center;
    }

    /* 버튼들의 스타일 */
    .button-group {
        margin-top: 20px;
    }

    .button-group .btn {
        margin: 5px;
    }

</style>

<div id="detailContent" class="container">
    <div>
        제목 : <span id = "title" th:text="${post.title}"></span>
    </div>
    <div >
        주제: <span id="topic" th:text="${post.topic}"></span>
    </div>
    <div >
        기술 스택 :  <span id="skills" th:text="${post.skills}"></span>
    </div>
    <div>
        시작일 :  <span id="start_date" th:text="${post.start_date}"></span>
    </div>
    <div>
        종료일 :  <span id="end_date" th:text="${post.end_date}"></span>
    </div>
    <div>
        모집 인원 :  <span id="max_num" th:text="${post.max_num}"></span>
    </div>
    <div>
        모집 내용 :  <span id="content" th:text="${post.content}"></span>
    </div>

    <br/>

    <button type="button" class="btn btn-light" onclick="goBack()">목록</button>
    <div class="button-group">
        <button type="button" class="btn btn-light" onclick="goBack()">뒤로 가기</button>
    </div>

</div>
<div th:replace="layout/footer"></div>